@use "./../variables" as *;

.next-datatable__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.next-datatable__loader__inner {
    color: var(--text-color-light);
}