@use "./../variables" as *;

.next-datatable {
    position: relative;
    clear: both;
    overflow: hidden;

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
    .next-datatable__action {
        display: flex;
        justify-content: space-between;
        margin-bottom: .5rem;
    }
}

.next-datatable__table__wrapper {
    position: relative;
    overflow: hidden;
}
.next-datatable__table {
    width: 100%;
    overflow-x: auto;
}
.next-datatable__table {
    border-collapse: collapse;

    &.next-datatable__table--bordered {
        th, td, tr {
            border: $border-width $border-type $border-color;
        }
    }


    // Sizes
    &.next-datatable__table--sm {
        th, td, tr {
            padding: $table-sm-cellpadding;
        }
    }
    &.next-datatable__table--md {
        th, td, tr {
            padding: $table-md-cellpadding;
        }
    }
    &.next-datatable__table--lg {
        th, td, tr {
            padding: $table-lg-cellpadding;
        }
    }
}


@mixin inputSize {
    padding: .4rem;
    border-radius: .2rem;
    border: 1px solid #ccc;
    transition: box-shadow .2s, outline 0;
}

.next-datatable__filter {
    input {
        @include inputSize;

        &:focus {
            box-shadow: 0px 2px 10px rgb(224, 223, 228);
            outline: none
        }
    }
}

.next-datatable__length {
    select {
        @include inputSize;

    }
}