// -----------------------------
// Next Datatable Variables
// -----------------------------

// Main Theme Colors
$primary:        #1687A7 !default;

// Border
$border-color:     #dddee0 !default;
$border-type:       solid !default;
$border-width:      1px !default;

// Sizes
$table-sm-cellpadding: .25rem !default;
$table-md-cellpadding:  .5rem .5rem !default;
$table-lg-cellpadding:  1rem !default;